                
                <p:column sortBy="#{bean.${attrLow}}">
                    <f:facet name="header">#{messages['${beanLower}.label.${attrLow}']}</f:facet>
                    <h:commandLink action="#{${beanLower}ListMB.getNextView}" actionListener="#{${beanLower}ListMB.clear}">
                        <h:outputText value="#{bean.${attrLow}}" />
                        <f:param name="id" value="#{bean.${idName}}" />
                    </h:commandLink>
                </p:column>
                