.ant-targets-*
build
dist
bin
exploded-archives
test-build
classes
obf
target
.classpath
.project
.settings
.svn
/login/target/
/WebSOAP/target/
/WebREST/target/
/demoiselle-audit/target/
/demoiselle-easyqueryfilter/target/
/examples/bookmark-audit/target/
/trololo/target/
/demoiselle-scheduler/impl/SchedulerManager/target/
/demoiselle-scheduler/impl/quartz/target/
/demoiselle-scheduler/impl/manager/target/
/drails/target/
