<!DOCTYPE html>
<html ng-app="catalogo" lang="pt-br">

<head>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/angular-strap.styles.min.css" rel="stylesheet">
<link href="css/sb-admin.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link href="css/plugins/dataTables/dataTables.bootstrap.css"
	rel="stylesheet">
<link href="font-awesome/css/font-awesome.css" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Catálogo de Tecnologia</title>
</head>

<body logged-in>

	<div id="wrapper">

		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Catálogo de Tecnologia</a>
			</div>
			<!-- /.navbar-header -->

			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i
						class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-messages">
						<li><a href="#">
								<div>
									<strong>John Smith</strong> <span class="pull-right text-muted">
										<em>Yesterday</em>
									</span>
								</div>
								<div>Lorem ipsum dolor sit amet, consectetur adipiscing
									elit. Pellentesque eleifend...</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<strong>John Smith</strong> <span class="pull-right text-muted">
										<em>Yesterday</em>
									</span>
								</div>
								<div>Lorem ipsum dolor sit amet, consectetur adipiscing
									elit. Pellentesque eleifend...</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<strong>John Smith</strong> <span class="pull-right text-muted">
										<em>Yesterday</em>
									</span>
								</div>
								<div>Lorem ipsum dolor sit amet, consectetur adipiscing
									elit. Pellentesque eleifend...</div>
						</a></li>
						<li class="divider"></li>
						<li><a class="text-center" href="#"> <strong>Read
									All Messages</strong> <i class="fa fa-angle-right"></i>
						</a></li>
					</ul> <!-- /.dropdown-messages --></li>
				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-tasks fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-tasks">
						<li><a href="#">
								<div>
									<p>
										<strong>Task 1</strong> <span class="pull-right text-muted">40%
											Complete</span>
									</p>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-success"
											role="progressbar" aria-valuenow="40" aria-valuemin="0"
											aria-valuemax="100" style="width: 40%">
											<span class="sr-only">40% Complete (success)</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<p>
										<strong>Task 2</strong> <span class="pull-right text-muted">20%
											Complete</span>
									</p>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-info" role="progressbar"
											aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
											style="width: 20%">
											<span class="sr-only">20% Complete</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<p>
										<strong>Task 3</strong> <span class="pull-right text-muted">60%
											Complete</span>
									</p>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-warning"
											role="progressbar" aria-valuenow="60" aria-valuemin="0"
											aria-valuemax="100" style="width: 60%">
											<span class="sr-only">60% Complete (warning)</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<p>
										<strong>Task 4</strong> <span class="pull-right text-muted">80%
											Complete</span>
									</p>
									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-danger"
											role="progressbar" aria-valuenow="80" aria-valuemin="0"
											aria-valuemax="100" style="width: 80%">
											<span class="sr-only">80% Complete (danger)</span>
										</div>
									</div>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a class="text-center" href="#"> <strong>See
									All Tasks</strong> <i class="fa fa-angle-right"></i>
						</a></li>
					</ul> <!-- /.dropdown-tasks --></li>
				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-bell fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li><a href="#">
								<div>
									<i class="fa fa-comment fa-fw"></i> New Comment <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-twitter fa-fw"></i> 3 New Followers <span
										class="pull-right text-muted small">12 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-envelope fa-fw"></i> Message Sent <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-tasks fa-fw"></i> New Task <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-upload fa-fw"></i> Server Rebooted <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a class="text-center" href="#"> <strong>See
									All Alerts</strong> <i class="fa fa-angle-right"></i>
						</a></li>
					</ul> <!-- /.dropdown-alerts --></li>
				<!-- /.dropdown -->
				<li class="dropdown" ng-controller="Auth"><a href="#/login"
					ng-if="!isLoggedIn()">Login</a>
					<div ng-if="isLoggedIn()">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span><i
								class="fa fa-user fa-fw"></i> {{getUsuario().name}} <i
								class="fa fa-caret-down"></i></span>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil
									do Usuário</a></li>
							<li><a href="#"><i class="fa fa-gear fa-fw"></i>
									Configurações</a></li>
							<li class="divider"></li>
							<li><a style="cursor: pointer" ng-click="sair()"><i
									class="fa fa-sign-out fa-fw"></i> Logout</a></li>
						</ul>
					</div> <!-- /.dropdown-user --></li>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

		</nav>
		<!-- /.navbar-static-top -->

		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="side-menu">
					<li class="sidebar-search">
						<div class="input-group custom-search-form">
							<input type="text" class="form-control" placeholder="Procurar..."
								ng-model="variavel"> <span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div> <!-- /input-group -->
					</li>
					<li><a href="index.html"><i class="fa fa-dashboard fa-fw"></i>
							Painel</a></li>
					<li><a href="#"><i class="fa fa-sitemap fa-fw"></i> Fases<span
							class="fa arrow"></span></a>
						<ul class="nav nav-second-level active">
							<li><a href="#pesquisa/fases"><i
									class="glyphicon glyphicon-list"></i> Pesquisa</a></li>
							<li><a href="#analise/edit"><i
									class="glyphicon glyphicon-plus-sign"></i> Nova Analise</a></li>
							<!-- li>
                                <a href="#analise">Análise</a>
                            </li>
                            <li>
                                <a href="#pesquisa/fases/2">Prospeção</a>
                            </li>
                            <li>
                                <a href="#pesquisa/fases/3">Internalização</a>
                            </li>
                            <li>
                                <a href="#pesquisa/fases/4">Sustentação</a>
                            </li>
                            <li>
                                <a href="#pesquisa/fases/5">Declínio</a>
                            </li-->

						</ul> <!-- /.nav-second-level --></li>
					<li><a href="#"><i class="fa fa-wrench fa-fw"></i>
							Cadastros<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="#origemDemanda">Origem da demanda</a></li>
							<li><a href="#licenciamento">Licenciamento</a></li>
							<li><a href="#fabricante">Fabricante</a></li>
							<li><a href="#fornecedor">Fornecedor</a></li>
							<li><a href="#plataformaTecnologica">Plataforma
									Tecnológica</a></li>
							<li><a href="#tecnologia">Tecnologia</a></li>
							<li><a href="#categoria">Categoria</a></li>
							<li><a href="#produto">Produto</a></li>
							<li><a href="#grupo">Grupo</a></li>
							<li><a href="#user">Usuário</a></li>
							<li><a href="typography.html">...</a></li>
						</ul> <!-- /.nav-second-level --></li>
				</ul>
				<!-- /#side-menu -->
			</div>
			<!-- /.sidebar-collapse -->
		</nav>
		<!-- /.navbar-static-side -->

		<div id="page-wrapper">
			<br />
			<div ng-view></div>
		</div>

		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<script
		src="js/lib/plugins/angular-file-upload/angular-file-upload-shim.min.js"></script>
	<script src="js/lib/angular.js"></script>
	<script src="js/lib/angular-locale_pt-br.js"></script>
	<script src="js/lib/angular-animate.js"></script>
	<script src="js/lib/angular-route.min.js"></script>
	<script
		src="js/lib/plugins/angular-file-upload/angular-file-upload.min.js"></script>
	<script src="js/lib/plugins/angular-strap/angular-strap.js"></script>
	<script src="js/lib/plugins/angular-strap/angular-strap.tpl.js"></script>

	<script src="js/app.js"></script>	
	<script src="js/directives.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/services/auth-service.js"></script>
	<script src="js/services/services.js"></script>
	<script src="js/services/user-service.js"></script>	
	<script src="js/controllers/analise-controller.js"></script>
	<script src="js/controllers/prospeccao-controller.js"></script>
	<script src="js/controllers/internalizacao-controller.js"></script>
	<script src="js/controllers/sustentacao-controller.js"></script>
	<script src="js/controllers/declinio-controller.js"></script>
	<script src="js/controllers/produto-controller.js"></script>
	<script src="js/controllers/licenciamento-controller.js"></script>
	<script src="js/controllers/fornecedor-controller.js"></script>
	<script src="js/controllers/fabricante-controller.js"></script>
	<script src="js/controllers/plataforma-tecnologica-controller.js"></script>
	<script src="js/controllers/tecnologia-controller.js"></script>
	<script src="js/controllers/categoria-controller.js"></script>
	<script src="js/controllers/origem-demanda-controller.js"></script>
	<script src="js/controllers/auth-controller.js"></script>
	<script src="js/controllers/anexo-controller.js"></script>
	<script src="js/controllers/observacao-controller.js"></script>
	<script src="js/controllers/fluxo-controller.js"></script>
	<script src="js/controllers/membros-controller.js"></script>
	<script src="js/controllers/interessados-controller.js"></script>
	<script src="js/controllers/produtos-da-fase-controller.js"></script>
	<script src="js/controllers/root-controller.js"></script>
	<script src="js/controllers/dashboard.js"></script>
	<script src="js/controllers/pesquisa-fases-controller.js"></script>
	<script src="js/controllers/pesquisa-produtos-controller.js"></script>
	<script src="js/controllers/user/grupo-list-controller.js"></script>
	<script src="js/controllers/user/grupo-edit-controller.js"></script>
	<script src="js/controllers/user/user-edit-controller.js"></script>
	<script src="js/controllers/user/user-new-controller.js"></script>
	<script src="js/controllers/user/user-list-controller.js"></script>

	<script src="js/lib/jquery-1.10.2.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/lib/bootbox.min.js"></script>
	<script src="js/lib/plugins/metisMenu/jquery.metisMenu.js"></script>
	<script src="js/lib/plugins/dataTables/jquery.dataTables.js"></script>
	<script src="js/lib/plugins/dataTables/dataTables.bootstrap.js"></script>
	<script src="js/lib/plugins/morris/raphael-2.1.0.min.js"></script>
	<script src="js/lib/plugins/morris/morris.js"></script>
	<script src="js/lib/sb-admin.js"></script>
	<script src="js/lib/underscore.js"></script>
</body>

</html>
