<!DOCTYPE html>
<html ng-app="catalogo">

<head>
<link href="css/bootstrap.min.css" rel="stylesheet">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body ng-controller="Analise">

	<div class="container">
		<div class="row">
			<div class="form-group">
				<label for="detalhamento">Detalhamento da Demanda</label>
				<input type="text" id="detalhamento" ng-model="analise.detalhamento">
				<span id="detalhamento-message" class="text-danger"></span>
			</div>
		</div>
		<button ng-click="salvar()">Salvar</button>{{analise.detalhamento}}
	</div>
	
	<ul>
		<li ng-repeat="a in analises">
		<a ng-click="editar(a)">{{a.detalhamento}}</a>
		<a ng-click="excluir(a.id)">excluir</a>
			
		</li>
	</ul>
	
	
	
	
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-route.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/analise-controller.js"></script>
	<script src="js/lib/jquery-1.10.2.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
</body>

</html>