                    
                    <h:inputText id="${varAttrName}" value="#{${attrClassOfValueLower}.${varAttrName}}" title="#{messages['${attrClassOfValueLower}.alt.${varAttrName}']}" />
                    