                    <p:column>
                    <h:outputText id="${varAttrName}" value="#{${attrClassOfValueLower}.${varAttrName}}" />
                    <p:message for="${varAttrName}" />
                    </p:column>
                    