<div class="painel painel-default">
	<h1 class="page-header">
		Usuário <small>edição</small>
	</h1>

	<form role="form">
		<div class="form-group row">
			<div class="col-md-2">
				<label for="id">CPF:</label> <input type="text" class="form-control"
					id="name" ng-model="user.name" placeholder="Digite o CPF">
			</div>
			<div class="col-md-2">
			<label>&nbsp;</label>
			<br>
				<button class="btn btn-primary" ng-click="pesquisar(user.name)">
					<i class="fa fa-search"> </i> Pesquisar
				</button>
			</div>
		</div>


		<div class="form-group row">
			<div class="col-md-12">
				<label for="id">Nome:</label> {{user.displayName}}
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-12">
				<label for="id">Telefone:</label> {{user.telephoneNumber}}
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-12">
				<label for="id">Email:</label> {{user.email}}
			</div>
		</div>

		<label>Marque os Grupos para o usuário</label>
		<!-- 
		 -->
		<div class="form-group row">
			<div class="col-md-3" ng-repeat="grupo in grupos">
				<input type="checkbox" name="grupos[]"
					ng-checked="isGrupoInGrupos(grupo) > -1"
					ng-click="toggleSelection(grupo)"> {{grupo.nome}}<br />
			</div>
			{{user.grupos}}
		</div>

		<div class="form-group row">
			<div class="col-md-12">
				<button class="btn btn-primary" ng-click="salvar()">
					<i class="fa fa-save"> </i> Salvar
				</button>
				<a class="btn btn-inverse pull-right" href="#/user"> <i
					class="fa fa-long-arrow-left"></i> Voltar
				</a>
			</div>
		</div>

	</form>
</div>