                    <p:column>
                    <p:selectOneMenu id="${varAttrName}" value="#{${attrClassOfValueLower}.${varAttrName}}" effect="fade">
                        <f:selectItems value="#{${attrClassOfValueLower}EditMB.${varAttrName}}" />
                    </p:selectOneMenu>
                    </p:column>
                    