<div class="panel-body">
	<div class="panel-body" ng-controller="AnexoCtrl" ng-init="init(fase)">

		<div class="form-group">
			<label for="file">Anexar</label> <input type="file" id="file"
				ng-file-select="onFileSelect($files)" multiple>
			<p class="help-block">Selecione um ou mais arquivos.</p>
		</div>
		<br>
		<div class="">
			<div ng-if="progress > 0" class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar"
					aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100"
					style="width: {{progress">
					<span class="sr-only">{{progress}}%</span>
				</div>
				<button class="btn btn-danger btn-xs pull-right"
					ng-click="upload.abort()">
					<i class="fa fa-times-circle"></i> cancelar
				</button>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Arquivos anexos</h5>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<!-- thead>
							<tr>
								<th>Arquivo</th>
								<th>Tamanho</th>
								<th>Ação</th>
							</tr>
						</thead-->
						<tbody>
							<tr ng-repeat="a in anexos">
								<td><a ng-href="api/anexo/{{a.id}}"> <img
										alt="Tipo do arquivo" src="{{a.tipoArquivo | tipoArquivo}}"
										width="35px"> {{a.nomeArquivo}}
										  - {{a.tamanhoArquivo | tamanho}}
								</a></td>
								<td style="width: 20%"><a ng-href="api/anexo/{{a.id}}"
									class="btn btn-primary btn-sm"><i class="fa fa-download"></i>
										download</a> <a ng-click="excluir(a.id)"
									class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>
										excluir</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>


	</div>
</div>
