<div class="painel painel-default">
	<h3 class="page-header">
		Análise <small ng-if="analise.id">edição</small>
	</h3>
		
	
	<div>
		<ng-alerts></ng-alerts>
	</div>
	
	<ng-fluxo ng-model="fase">
	</ng-fluxo>
	
	<form name="formAnalise" role="form">
		<ul class="nav nav-tabs" ng:init="selected=1">
			<li class="ng-class: selected == 1 ? 'active':'';"><a
				ng:click="selected=1">Análise</a></li>
			<li class="ng-class: selected == 2 ? 'active':'';"
				ng-show="analise.situacao != 'Rascunho'"><a
				ng:click="selected=2">Próxima Fase</a></li>
			<li ng:show="analise.id" class="ng-class: selected == 3 ? 'active':'';"><a
				ng:click="selected=3">Anexos</a></li>
			<li ng:show="analise.id" class="ng-class: selected == 4 ? 'active':'';"><a
				ng:click="selected=4">Observações</a></li>
		</ul>

		<div class="panel panel-default" ng:show="selected == 1">
			<div class="panel-body">
				<div class="form-group row">
					<div class="col-md-6">
						<label for="id">Id:</label> <input class="form-control"
							disabled=disabled type="text" id="id" ng-model="analise.id">
					</div>
				</div>
	
				<div class="form-group row">
					<div class="col-md-6">
						<label for="origemReferencia">Referência:</label> 
						<select id="origemReferencia" class="form-control" 
							ng-model="analise.origemReferencia" 
							ng-options="origem.nome for origem in origemDemanda track by origem.id">
							<option value="" disabled>-- Selecione --</option>
						</select>
						<validation-msg propriedade="origemReferencia"></validation-msg>
					</div>
					<div class="col-md-6">
						<label for="codigo">Código:</label> 
						<input class="form-control" type="text" id="codigo"
							ng-model="analise.codigoReferencia">
					</div>
				</div>

				<div class="form-group">
					<label for="demandante">Demandante:</label> <input type="text"
						class="form-control" id="demandante" ng-model="analise.demandante"
						required> 
						<validation-msg propriedade="demandante"></validation-msg>
				</div>

				<div class="form-group">
					<label for="detalhamento">Detalhamento:</label>
					<textarea rows="4" class="form-control" id="detalhamento"
						ng-model="analise.objetivo" required></textarea>
					<validation-msg propriedade="detalhamento"></validation-msg>
				</div>


				<div class="form-group row">
					<div class="col-md-6">
						<div date-picker="start"></div>
						<label class="dataAnalise"><i class="fa fa-calendar"></i>
							Data da Análise <small>(dd/mm/aaaa)</small>:</label> 
						<input type="text"
							class="form-control" id="dataAnalise" name="dataAnalise"
							ng-model="analise.dataRealizacao" data-date-type="number"
							data-min-date="01/01/2010" data-max-date="today"
							data-autoclose="1" data-date-format="dd/MM/yyyy" bs-datepicker>
						<validation-msg propriedade="dataRealizacao"></validation-msg>
							
					</div>
					<div class="col-md-6">
						<div date-picker="start"></div>
						<label class="dataFinalizacao"><i class="fa fa-calendar"></i>
							Data da finalização:</label> 
						<input type="text" disabled=disabled
							class="form-control" id="dataFinalizacao" name="dataFinalizacao"
							ng-model="analise.dataFinalizacao" data-date-format="dd/MM/yyyy" bs-datepicker>
						<validation-msg propriedade="dataFinalizacao"></validation-msg>
							
					</div>
				</div>

				<div class="form-group row">
					<div class="col-md-6">
						<label for="gestor">Gestor da Análise:</label> <input
							class="form-control" required type="text" id="gestor"
							ng-model="analise.gestor.name" disabled=disabled>
						<validation-msg propriedade="gestor"></validation-msg>
					</div>
					<div class="col-md-6">
						<label for="area">Área:</label> <input
							class="form-control" required type="text" id="area"
							ng-model="analise.gestor.setor" disabled=disabled>
						<validation-msg propriedade="area"></validation-msg>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-md-12" id="interessados">
						<ng-interessados ng-model="fase"></ng-interessados>
					</div>
				</div>

				<div class="form-group">
					<label for="situacao">Situação:</label><br> 
					<span id="situacao" class="btn-group" ng-analise-situacao-button
						situacao="{{analise.situacao}}">
						<li ng-if="analise.situacao != 'Aprovado'">
							<a ng-click="aprovar(true)"><i class="fa fa-thumbs-o-up"> </i> Aprovar</a>
						</li>
						<li ng-if="analise.situacao != 'Reprovado'">
							<a ng-click="aprovar(false)"><i class="fa fa-thumbs-o-down"></i> Rejeitar</a>
						</li>
					</span>
					<validation-msg propriedade="situacao"></validation-msg>					 
				</div>


				<div ng-if="analise.situacao != 'Rascunho'">
					<div class="form-group">
						<label for="justificativa">Justificativa:</label>
						<textarea rows="4" class="form-control" id="justificativa"
							ng-model="analise.situacaoJustificativa" required></textarea>
						<validation-msg propriedade="justificativa"></validation-msg>
					</div>
				</div>

			</div>
		</div>

		<!-- Próxima fase -->
		<div ng-if="selected == 2" class="panel panel-default">
			<div class="panel-body">
				<div class="form-group">
					<label for="proximaFase">Próxima fase a ser executada:</label> 
					<select
						class="form-control" ng-model="analise.proximaFase">
						<option value="PROSPECCAO">Prospeccao</option>
						<option value="INTERNALIZACAO">Internalização</option>
						<option value="SUSTENTACAO">Sustentação</option>
						<option value="DECLINIO">Declínio</option>	
					</select>
					<validation-msg propriedade="proximaFase"></validation-msg>
				</div>

				<div class="form-group">
					<label for="justificativaProximaFase">Justificativa:</label>
					<textarea rows="4" class="form-control"
						id="justificativaProximaFase"
						ng-model="analise.proximaFaseJustificativa"
						required></textarea>
					<validation-msg propriedade="proximaFaseJustificativa"></validation-msg>
				</div>

				<div class="form-group row">
					<div class="col-md-6">
						<label for="detalhamento">Gestor da Próxima Fase:</label> <input
							class="form-control" type="text" id="id"
							ng-model="analise.proximaFaseGestor.name" disabled=disabled>
							<validation-msg propriedade="proximaFaseGestor"></validation-msg>
					</div>
					<div class="col-md-6">
						<label for="detalhamento">Área:</label> <input
							class="form-control" type="text" id="id"
							ng-model="analise.proximaFaseGestor.setor" disabled=disabled>
					</div>
				</div>
			</div>
		</div>

		<!-- Anexos -->
		<div ng:show="selected == 3 && analise.id" class="panel panel-default">
			<ng-anexos ng-model="fase"></ng-anexos>
		</div>
		
		<!-- Observações -->
		<div ng:show="selected == 4 && analise.id" class="panel panel-default">
			<ng-observacoes ng-model="fase"></ng-observacoes>
		</div>

		<div>
			<button class="btn btn-primary" ng-click="salvar()">
				<i class="fa fa-save"> </i> Salvar
			</button>
			<button class="btn btn-primary" ng-click="finalizar()">
				<i class="fa fa-gavel"> </i> Finalizar
			</button>
		
			<a class="btn btn-inverse pull-right" back-button><i
				class="fa fa-long-arrow-left"></i> Voltar</a>
		</div>

	</form>

</div>